@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?mcz895');
  src:  url('fonts/icons.eot?mcz895#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?mcz895') format('truetype'),
    url('fonts/icons.woff?mcz895') format('woff'),
    url('fonts/icons.svg?mcz895#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic_fasebook:before {
  content: "\e900";
}
.ic_instagram:before {
  content: "\e901";
}
.ic_phone:before {
  content: "\e902";
}
.ic_twitter:before {
  content: "\e903";
}
.ic_whatsapp:before {
  content: "\e904";
}
